* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
}
body {
    background: #fff;
    overflow: hidden;
}

#app {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

#views {
    width: 200px;
    border-right: 2px solid #111;
    height: 100%;
}

#page {
    padding: 12px 30px;
    overflow-y: auto;
}

#page h1 {
    margin-bottom: 12px;
    padding: 0 15px;
    border-bottom: 2px solid #111;
}

#page .comments li {
    margin: 0 15px 8px;
    padding: 0 15px;
    max-width: 600px;
    list-style: none;
    word-wrap: break-word;
}

#page .comments li:not(:last-child) {
    padding-bottom: 8px;
    border-bottom: 1px solid #111;
}
