* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
}
body {
    background: #fff;
    overflow: hidden;
}

#app {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

#views {
    width: 200px;
    border-right: 2px solid #111;
    height: 100%;
}

#page {
    padding: 12px 30px;
    overflow-y: auto;
}

#page h1 {
    margin-bottom: 12px;
    padding: 0 15px;
    border-bottom: 2px solid #111;
}

#page ul li {
    margin: 0 15px 8px;
    padding: 0 15px;
    max-width: 600px;
    list-style: none;
    word-wrap: break-word;
}

#page ul li:not(:last-child) {
    padding-bottom: 8px;
    border-bottom: 1px solid #111;
}

.commentTxt {
    margin-bottom: 12px;
}

.contactsNav {
    position: sticky;
    top: -12px;
    width: 100%;
    background: #fff;
    padding: 5px 12px;
}
.contactsNav > *:not(:last-child) {
    margin-right: 12px;
}
.contactsContainer > * {
    padding: 40px 0;
}

.profileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: border-radius 0.25s, padding 0.25s, border 0.25s;
    padding: 30px;
    border: 0 solid #000;
}
.profileImage:hover {
    border-radius: 0;
    padding: 0;
    border: 2px solid #000;
}
