* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
}
body {
    background: #fff;
}

#app {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
}

#views {
    width: 200px;
    border-right: 2px solid #111;
    height: 100%;
}
